# Import Data

In [62]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df_train = pd.read_csv("./train.csv")
df_test = pd.read_csv("./test.csv")
df_train.columns = df_train.columns.str.replace(' ','_')
df_test.columns = df_test.columns.str.replace(' ','_')

df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual_Income         1155051 non-null  float64
 4   Marital_Status        1181471 non-null  object
 5   Number_of_Dependents  1090328 non-null  float64
 6   Education_Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health_Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy_Type           1200000 non-null  object
 11  Previous_Claims       835971 non-null   float64
 12  Vehicle_Age           1199994 non-null  float64
 13  Credit_Score          1062118 non-null  float64
 14  Insurance_Duration    1199999 non-null  float64
 15  Policy_Start_Date     1200000 non-null  object
 16  Customer_Feedback     1122176 non-null  object
 17  Smoking_Status        1200000 non-null  object
 18  Exercise_Frequency    1200000 non-null  object
 19  Property_Type         1200000 non-null  object
 20  Premium_Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

# Age - no corelation

In [ ]:
ages = df_train[['Age','Premium_Amount']].groupby(["Age"]).mean()

plt.figure(figsize=(7, 4))
plt.plot(ages.index, ages['Premium_Amount'], color='steelblue')
plt.xticks(range(int(ages.index.min()), int(ages.index.max()) + 1, 5))
plt.xlabel('Age')
plt.ylabel('Premium Amount')
plt.title('Average Premium Amount by Age')
plt.grid(True)
plt.show()

# Gender - no corelation

In [ ]:
genders = df_train[["Gender", "Premium_Amount"]].groupby("Gender").mean()
plt.figure(figsize=(7,4))
bars = plt.bar(genders.index, genders['Premium_Amount'],color='steelblue')
plt.title('Average premium amount by gender')

for bar in bars:
    yval = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2, yval, round(yval, 2), ha='center', va='bottom')

# Annual income

In [132]:
min_income = df_train['Annual_Income'].min()
max_income = df_train['Annual_Income'].max()
print(min_income, max_income)

1.0 149997.0