# Imports

In [69]:
import pandas as pd

df_train = pd.read_csv("./train.csv")
df_test = pd.read_csv("./test.csv")
df_train.columns = df_train.columns.str.replace(' ','_')
df_test.columns = df_test.columns.str.replace(' ','_')

In [74]:
df_train.head()
df_train.info()

df_train['Policy_Start_Date'].dtype
df_train['Policy_Start_Date'].min()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual_Income         1155051 non-null  float64
 4   Marital_Status        1181471 non-null  object
 5   Number_of_Dependents  1090328 non-null  float64
 6   Education_Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health_Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy_Type           1200000 non-null  object
 11  Previous_Claims       835971 non-null   float64
 12  Vehicle_Age           1199994 non-null  float64
 13  Credit_Score          1062118 non-null  float64
 14  Insurance_Duration    1199999 non-null  float64
 15  Policy_Start_Date     1200000 non-null  object
 16  Customer_Feedback     1122176 non-null  object
 17  Smoking_Status        1200000 non-null  object
 18  Exercise_Frequency    1200000 non-null  object
 19  Property_Type         1200000 non-null  object
 20  Premium_Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

'2019-08-17 15:21:39.080371'

# Age

In [32]:
agemean = df_train['Age'].mean()
df_train.fillna({'Age':agemean}, inplace=True);

# Gender

In [ ]:
df_train.fillna({'Gender':'unknown'}, inplace=True);

# Annual Income

In [10]:
annualincomemean = df_train['Annual_Income'].mean()
df_train.fillna({'Annual_Income':annualincomemean}, inplace=True);

# Marital_Status

In [16]:
df_train.fillna({'Marital_Status':'unknown'}, inplace = True);

# Number of Dependants

In [20]:
numberofdepmedian=df_train['Number_of_Dependents'].median()
df_train.fillna({'Number_of_Dependents':numberofdepmedian}, inplace=True)

# Education Level

In [ ]:
df_train['Education_Level'].value_counts(dropna=False)
df_train.fillna({'Education_Level':'unknown'},inplace=True);

Education_Level
Master's       303818
PhD            303507
Bachelor's     303234
High School    289441
Name: count, dtype: int64

# Occupation

In [ ]:
df_train.fillna({'Occupation':'unknown'}, inplace=True)

Occupation
unknown          358075
Employed         282750
Self-Employed    282645
Unemployed       276530
Name: count, dtype: int64

# Health Score

In [28]:
healthscoremean = df_train['Health_Score'].mean()
df_train.fillna({'Health_Score':healthscoremean},inplace=True);

# Location

In [ ]:
df_train['Location'].value_counts(dropna=False)
df_train.fillna({'Location':'unknown'},inplace=True);

Location
Suburban    401542
Rural       400947
Urban       397511
Name: count, dtype: int64

# Policy Type

In [67]:
df_train.fillna({'Policy_Type':'unknown'},inplace=True);

# Previous Claims

In [ ]:
previousclaimmedian = df_train['Previous_Claims'].median()
df_train.fillna({'Previous_Claims':previousclaimmedian},inplace=True)

Previous_Claims
1.0    664840
0.0    305433
2.0    167661
3.0     49011
4.0     10668
5.0      2018
6.0       302
7.0        58
8.0         8
9.0         1
Name: count, dtype: int64

# Vehicle_Age

In [41]:
vehicleagemean = df_train['Vehicle_Age'].mean()
df_train.fillna({'Vehicle_Age':vehicleagemean}, inplace=True);

# Credit Score

In [44]:
creditscoremean = df_train['Credit_Score'].mean()
df_train.fillna({'Credit_Score':creditscoremean}, inplace=True);

# Insurance Duration

In [ ]:
durationmedian = df_train['Insurance_Duration'].median()
df_train.fillna({'Insurance_Duration':durationmedian}, inplace=True);

# Policy Start Date

In [59]:
df_train['Policy_Start_Date'] = pd.to_datetime(df_train['Policy_Start_Date'])
df_train['Policy_Start_Date_Int'] = (df_train['Policy_Start_Date'] - pd.Timestamp("2019-08-17")) // pd.Timedelta('1D')
df_train.drop(columns='Policy_Start_Date',inplace=True)


# przeksztalcam date, na liczbe dni ktore minely od pierwszego rejestru (2019-08-17)

# Customer Feedback

In [ ]:
df_train.fillna({'Customer_Feedback':'Average'}, inplace=True)

Customer_Feedback
Average    455729
Poor       375518
Good       368753
Name: count, dtype: int64

# Smoking Status

In [ ]:
df_train.fillna({'Smoking_Status':'unknown'}, inplace=True)

# Exercise Frequency

In [ ]:
df_train.fillna({'Exercise_Frequency':'unknown'}, inplace=True)

Exercise_Frequency
Weekly     306179
Monthly    299830
Rarely     299420
Daily      294571
Name: count, dtype: int64

# Property Type

In [ ]:
df_train.fillna({'Property_Type':'unknown'}, inplace=True)

In [60]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     1200000 non-null  int64
 1   Age                    1200000 non-null  float64
 2   Gender                 1200000 non-null  object
 3   Annual_Income          1200000 non-null  float64
 4   Marital_Status         1200000 non-null  object
 5   Number_of_Dependents   1200000 non-null  float64
 6   Education_Level        1200000 non-null  object
 7   Occupation             1200000 non-null  object
 8   Health_Score           1200000 non-null  float64
 9   Location               1200000 non-null  object
 10  Policy_Type            1200000 non-null  object
 11  Previous_Claims        1200000 non-null  float64
 12  Vehicle_Age            1200000 non-null  float64
 13  Credit_Score           1200000 non-null  float64
 14  Insurance_Duration     1200000 non-null  float64
 15  Customer_Feedback      1200000 non-null  object
 16  Smoking_Status         1200000 non-null  object
 17  Exercise_Frequency     1200000 non-null  object
 18  Property_Type          1200000 non-null  object
 19  Premium_Amount         1200000 non-null  float64
 20  Policy_Start_Date_Int  1200000 non-null  int64
dtypes: float64(9), int64(2), object(10)
memory usage: 192.3+ MB

# Columns

In [ ]:
unknown_categories = ['Property_Type','Exercise_Frequency', 'Smoking_Status', 'Policy_Type', 'Location','Occupation', 'Education_Level', 'Marital_Status', 'Gender','Customer_Feedback'] # fill with 'unknown'
mean_columns = ['Credit_Score', 'Vehicle_Age', 'Health_Score', 'Annual_Income','Age'] # fill with mean
median_columns = ['Insurance_Duration', 'Previous_Claims', 'Insurance_Duration'] # fill with median
policy_date=['Policy_Start_Date_Int'] # policy date - fill with integer