# Imports

In [1]:
import pandas as pd

df_train = pd.read_csv("./train.csv")
df_test = pd.read_csv("./test.csv")
df_train.columns = df_train.columns.str.replace(' ','_')
df_test.columns = df_test.columns.str.replace(' ','_')

In [2]:
df_train.head()

,id,Age,Gender,Annual_Income,Marital_Status,Number_of_Dependents,Education_Level,Occupation,Health_Score,Location,...,Previous_Claims,Vehicle_Age,Credit_Score,Insurance_Duration,Policy_Start_Date,Customer_Feedback,Smoking_Status,Exercise_Frequency,Property_Type,Premium_Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

# Age

In [32]:
agemean = df_train['Age'].mean()
df_train.fillna({'Age':agemean}, inplace=True);

# Annual Income

In [10]:
annualincomemean = df_train['Annual_Income'].mean()
df_train.fillna({'Annual_Income':annualincomemean}, inplace=True);

# Marital_Status

In [16]:
df_train.fillna({'Marital_Status':'unknown'}, inplace = True);

# Number of Dependants

In [20]:
numberofdepmedian=df_train['Number_of_Dependents'].median()
df_train.fillna({'Number_of_Dependents':numberofdepmedian}, inplace=True)

# Education Level

In [21]:
df_train['Education_Level'].value_counts(dropna=False)

Education_Level
Master's       303818
PhD            303507
Bachelor's     303234
High School    289441
Name: count, dtype: int64

# Occupation

In [23]:
df_train.fillna({'Occupation':'unknown'}, inplace=True)   
df_train['Occupation'].value_counts(dropna=False)

Occupation
unknown          358075
Employed         282750
Self-Employed    282645
Unemployed       276530
Name: count, dtype: int64

# Health Score

In [28]:
healthscoremean = df_train['Health_Score'].mean()
df_train.fillna({'Health_Score':healthscoremean},inplace=True);

# Location

In [29]:
df_train['Location'].value_counts(dropna=False)

Location
Suburban    401542
Rural       400947
Urban       397511
Name: count, dtype: int64

# Previous Claims

In [ ]:
previousclaimmedian = df_train['Previous_Claims'].median()
df_train.fillna({'Previous_Claims':previousclaimmedian},inplace=True)

Previous_Claims
1.0    664840
0.0    305433
2.0    167661
3.0     49011
4.0     10668
5.0      2018
6.0       302
7.0        58
8.0         8
9.0         1
Name: count, dtype: int64

# Vehicle_Age

In [41]:
vehicleagemean = df_train['Vehicle_Age'].mean()
df_train.fillna({'Vehicle_Age':vehicleagemean}, inplace=True);

# Credit Score

In [44]:
creditscoremean = df_train['Credit_Score'].mean()
df_train.fillna({'Credit_Score':creditscoremean}, inplace=True);

# Insurance Duration

In [47]:
df_train['Insurance_Duration'].value_counts(dropna=False)
durationmedian = df_train['Insurance_Duration'].median()
df_train.fillna({'Insurance_Duration':durationmedian}, inplace=True);

# Policy Start Date

In [59]:
df_train['Policy_Start_Date'] = pd.to_datetime(df_train['Policy_Start_Date'])
df_train['Policy_Start_Date_Int'] = (df_train['Policy_Start_Date'] - pd.Timestamp("2019-08-17")) // pd.Timedelta('1D')
df_train.drop(columns='Policy_Start_Date',inplace=True)


# przeksztalcam date, na liczbe dni ktore minely od pierwszego rejestru (2019-08-17)

# Customer Feedback

In [51]:
df_train.fillna({'Customer_Feedback':'Average'}, inplace=True)
df_train['Customer_Feedback'].value_counts(dropna=False)

Customer_Feedback
Average    455729
Poor       375518
Good       368753
Name: count, dtype: int64

In [53]:
df_train['Policy_Start_Date'].dtype

dtype('<M8[ns]')

In [60]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     1200000 non-null  int64
 1   Age                    1200000 non-null  float64
 2   Gender                 1200000 non-null  object
 3   Annual_Income          1200000 non-null  float64
 4   Marital_Status         1200000 non-null  object
 5   Number_of_Dependents   1200000 non-null  float64
 6   Education_Level        1200000 non-null  object
 7   Occupation             1200000 non-null  object
 8   Health_Score           1200000 non-null  float64
 9   Location               1200000 non-null  object
 10  Policy_Type            1200000 non-null  object
 11  Previous_Claims        1200000 non-null  float64
 12  Vehicle_Age            1200000 non-null  float64
 13  Credit_Score           1200000 non-null  float64
 14  Insurance_Duration     1200000 non-null  float64
 15  Customer_Feedback      1200000 non-null  object
 16  Smoking_Status         1200000 non-null  object
 17  Exercise_Frequency     1200000 non-null  object
 18  Property_Type          1200000 non-null  object
 19  Premium_Amount         1200000 non-null  float64
 20  Policy_Start_Date_Int  1200000 non-null  int64
dtypes: float64(9), int64(2), object(10)
memory usage: 192.3+ MB